/* change later to ubuntu font and see about gdpr solution */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

/* Custom properties */
:root {
  --spacer: 1rem;
  --border-radius-sm: 5px;
  --border-radius-lg: 12px;

  --ff-primary: "Ubuntu", sans-serif;

  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;

  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  /* widths Mobile: 375px Desktop: 1440px at 16px per em*/

  --width-mobile: 23.4375em;
  --width-desktop: 90em;

  /* Primary colours */

  --clr-primary-900: hsl(213, 96%, 18%);
  --clr-primary-700: hsl(243, 100%, 62%);
  --clr-primary-400: hsl(228, 100%, 84%);
  --clr-primary-200: hsl(206, 94%, 87%);

  /* Error red */
  --clr-red-700: hsl(354, 84%, 57%);

  /* Neutral colours */

  --clr-neutral-600: hsl(231, 11%, 63%);
  --clr-neutral-400: hsl(229, 24%, 87%);
  --clr-neutral-300: hsl(217, 100%, 97%);
  --clr-neutral-200: hsl(231, 100%, 99%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* a softer margin reset than just everything */
h1,
h2,
h3,
p {
  margin: 0;
}

/* if we make a list a navbar or whatever remove list-style, otherwise we can still use list-styles if need be */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* reset react hook form border inset */
input {
  border-style: solid;
}

/* Utility classes */

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large {
  --flow-space: 3rem;
}
.container {
  max-width: 70rem;
  margin: 0 auto;
  background-color: var(--clr-neutral-100);
}

.split {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-300);
}

/* general styling */
body {
  font-family: var(--ff-primary);
  /* color that seems to inherit to most parts of the page */
  color: var(--clr-neutral-600);
  background-color: var(--clr-neutral-300);
}

.nav-item {
  display: flex;
  align-items: center;
}

form {
  background-color: var(--clr-neutral-100);
  margin: -2.5rem 1rem 1rem 1rem;
  border-radius: var(--border-radius-lg);
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 40rem;
}

.summary-total {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.form-segment {
  display: flex;
  flex-direction: column;
}

.form-label {
  align-self: self-start;
}

/* if looking for switch css, its in its own file */
.plans {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

/* plans page default state and styling */
.plan {
  position: relative;
  background-color: var(--clr-neutral-100);
  border: 1px solid;
  border-color: var(--clr-neutral-400);
  border-radius: var(--border-radius-sm);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  min-width: 18ch;
}
/* plan changes visual state when clicked when clicked */
.plan:has(#pro:checked),
.plan:has(#advanced:checked),
.plan:has(#arcade:checked) {
  border-color: var(--clr-primary-700);
  background-color: var(--clr-neutral-200);
}

.plan-label {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
}

.plan * + * {
  padding-top: var(--spacer);
}

.plan-label__text {
  color: var(--clr-primary-900);
}

.plan-label__image {
  margin-bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

/* remove the visual part of the radio button but still there 
for screen readers */
.plan input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* grow the radio button to make whole of parent selectable */
  width: 100%;
  height: 100%;
}

/* utility on used in one place to to hide text on mobile */
.hide-on-mobile {
  display: none;
}

/* add on cards  */
.add-ons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.add-on-card {
  border: 1px solid;
  border-color: var(--clr-primary-700);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 0.25rem;
  padding: 0.4rem;
  border-radius: var(--border-radius-sm);
}

.add-on-card input[type="checkbox"] {
  accent-color: var(--clr-primary-700);
}

.add-on-details p:first-of-type {
  color: var(--clr-primary-900);
  font-weight: 500;
}

.add-on-price {
  margin-left: auto;
  margin-right: 0.25rem;
  color: var(--clr-primary-700);
}

/* on finishing up screen */
.summary-table {
  background-color: var(--clr-neutral-300);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
  border-radius: var(--border-radius-sm);
}

.summary-plan-flex,
.summary-addons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary-plan,
.summary-addons {
  padding-left: var(--spacer);
  padding-right: var(--spacer);

  padding-top: var(--spacer);
}
.summary-addons:last-of-type {
  padding-bottom: 2rem;
}

/* below for a horizontal rule */
.summary-plan:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /*This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 100%; /* Change this to whatever width you want. */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid; /* This creates the border.  */
  border-color: inherit;
}

.btn {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: inherit;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius-sm);
  border: none;
}

.btn-prev:hover {
  color: var(--clr-primary-900);
}

.btn-primary {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
}

.btn-secondary {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-700);
}

/* if 1 button place on right, if 2 spread appart */
/* only works with link and flex end in row */
.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  background-color: var(--clr-neutral-100);
  /* in relation to viewport mobile */
  position: fixed;
  bottom: 0;
  left: 0;
}

.button-row > button {
  margin-left: auto;
}

/* typography */

h1,
h2 {
  color: var(--clr-primary-900);
  font-size: var(--fs-900);
}

.form-label {
  color: var(--clr-primary-900);
  width: 100%;
  text-align: left;
}

/* error has some inline styles in jsx to make text red, would prefer this var to work at a later date */
.error {
  /* color: var(--clr-red-700); */
  float: right;
}

form > h2,
form > p,
form > .form-segment,
.plan-form > h2,
.plan-form > p,
.plans,
.add-ons,
.thanks-segment {
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.form-segment > input {
  line-height: 2rem;
  border-radius: var(--border-radius-sm);
  font-size: 1.25rem;
}

.form-segment {
  margin-top: 2rem;
}

.form-segment > input:focus {
  outline: none;
  border-color: var(--clr-primary-700);
}

.thanks-segment p {
  line-height: 1.5;
}
.thanks-segment img {
  padding-top: 2.5rem;
}

/* called navbar, but just a stepper indecator for the stages of the form */

.nav-circle {
  display: flex;
  width: 5ch; /* Set this to slightly wider than the longest string */
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-400);
  margin-right: 0;
  /* margin-left: var(--spacer); */
}

/* sidebar/navbar stepper */
.nav-item > .active {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-600);
}
.nav-desc {
  color: var(--clr-neutral-300);
}
.nav-step-no {
  color: var(--clr-neutral-400);
}
.nav-details {
  display: none;
}

/* responsive sidebar, either above mobile or sidebar desktop*/
.split {
  display: grid;
  gap: 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stepper {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
}
.navbar-nav > * + * {
  /* in this instance flow-content messes with mobile nav, so remove margin top */
}

/* below the desktop changes */
@media (min-width: 480px) {
  .split {
    grid-template-columns: 310px 1fr;
    background-color: var(--clr-neutral-100);
  }
  .navbar-nav {
    flex-direction: column;
  }
  .stepper {
    width: 274px;
    height: 568px;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
  }
  .nav-details {
    display: block;
    text-align: left;
  }
  .container {
    margin-top: 5rem;
    border-radius: var(--border-radius-lg);
    padding: var(--spacer);
  }

  .nav-circle {
    margin-right: var(--spacer);
  }

  form {
    margin: 0 0 0 0;
    position: relative;
  }

  .plan {
    flex-direction: column;
  }
  .plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .plan-label {
    flex-direction: column;
  }

  /* for use on plan 2months free label */
  .hide-on-mobile {
    color: var(--clr-primary-900);
    display: block;
  }

  .add-on-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }
  .add-on-card input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
  }

  .button-row {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

@media (max-width: 479px) {
  /* fix for flow space on mobile navbar */
  .nav-item {
    margin-top: 0;
  }
}
